[tool.poetry]
name = "codeboxapi"
version = "0.0.6"
description = "CodeBox is the simplest cloud infrastructure for your LLM Apps and Services."
authors = ["Shroominic <pleurae-berets.0u@icloud.com>"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
python-dotenv = "^1.0.0"
websockets = "^11.0.3"
aiohttp = "^3.8.4"
requests = "^2.31.0"
jupyter-kernel-gateway = "^2.5.2"

[tool.poetry.extras]
image_support = ["Pillow"]

[tool.poetry.dev-dependencies]
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
