[tool.poetry]
name = "codeboxapi"
version = "0.0.15"
authors = ["Shroominic <contact@shroominic.com>"]
license = "MIT"
description = "CodeBox is the simplest cloud infrastructure for your LLM Apps and Services."
keywords = ["codebox", "api", "cloud", "cloud-infra", "llm", "apps", "codeinterpreterapi"]
readme = "README.md"
homepage = "https://codeboxapi.com/"
documentation = "https://codeboxapi.com/docs/"
repository = "https://github.com/shroominic/codebox-api"
classifiers = [
    "Programming Language :: Python :: 3.9+",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: API Wrappers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Cloud Infrastructure :: Serverless",
    "Topic :: Artificial Intelligence :: Large Language Models :: Agent Tools",
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1"
requests = "^2.27.1"
aiohttp = "^3.8.4"
websockets = "^11.0.3"
python-dotenv = "^1.0.0"
jupyter-kernel-gateway = { version = "^2", optional = true }
Pillow = { version = "^9", optional = true }

[tool.poetry.extras]
all = ["jupyter-kernel-gateway", "Pillow"]
local_support = ["jupyter-kernel-gateway"]
image_support = ["Pillow"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pre-commit = "^3.3"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
