name: ☑️ CodeCheck

on: [push]

jobs:
  pre-commit:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: eifinger/setup-rye@v1
        with:
          enable-cache: true
          cache-prefix: "venv-codeboxapi"
      - name: pin version
        run: rye pin ${{ matrix.python-version }}
      - name: Sync rye
        run: rye sync
      - name: Run ruff
        run: rye run ruff
      - name: Run tests
        env:
          CODEBOX_API_KEY: ${{ secrets.CODEBOX_API_KEY }}
        run: rye run pytest -m "not skip_on_actions"
