name: code-check

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install pre-commit
      run: pip install pre-commit poetry pytest
    - name: Run pre-commit
      run: pre-commit run --all-files
    - name: Install dependencies
      run: poetry config virtualenvs.create false && poetry install
    - name: Run tests
      env:
        MY_ENV_VAR: ${{ secrets.CODEBOX_API_KEY }}
      run: pytest
